<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144211946-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-144211946-1');
    </script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <TITLE>オープンマーケット！</TITLE>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="stylesheet.css">
    <!--
    <script>window._epn = {campaign: 5338815131};</script>
    <script src="https://epnt.ebay.com/static/epn-smart-tools.js"></script>
    <script data-ad-client="ca-pub-2661815267943239" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    -->
</head>

<body>
    <div id="app">
    <div class="container">
    <div class="row">
        <div class="col">
            <div class="header">いろいろな商品を比較！</div>
            <!-- <p><a href="price_comparison_cart.php" target="_blank" rel="noopener noreferrer">カートを見る</a></p> -->
            <!--<form method='post' action=''>-->
            <form action method="get">
                <div class="input-group">
                    <input type='text' id='searchtextbox' class="form-control" placeholder='キーワードで探す' name="search-key">
                    <!--<button class="btn btn-primary">検索</button>-->
                    <span class="input-group-btn">
                        <!--<input class="btn btn-secondary" id="searchbtn" type="submit" value="Go">-->
                        <button class="btn btn-secondary" id="searchbtn" type="submit"><i class="fas fa-search"></i></button>
                    </span>
                    <span class="btn btn-light"><a href="price_comparison_cart.html"><i class="fas fa-shopping-cart"></i>カートを見る</a></span>
                </div>
                <div class="select">
                    <div id="shop-select">
                        <label v-for="(value, name) in shop_item" @click="searchbtn_click">
                            <input type="checkbox" v-bind:value="name" v-model="shop_disp">{{value}}
                        </label>
                    </div>
                    <select id="order-select" name="order-select" v-model="order" v-on:change="searchbtn_click">
                        <option v-for="(value, name) in order_str" v-bind:value="name">{{value}}</option>
                    </select>
                </div>
                <!--<input type="hidden" name="kind" value="change_items">-->
            </form>
            <!--</form>-->
            <div v-if="errored">
                <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
            </div>
            <div v-else>
                <!--<div id="loading"><img src="img/loading.gif"></div>-->
                <transition v-if="loading" id="loading" name="fade">
                    <div class="d-flex justify-content-center m-5">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </transition>
                <div v-else id="item-list" class="row">
                    <div v-for="item in item_data" class="item col-xs-3">
                        <a v-bind:href="item.url" target="_blank">
                            <div class="img-block">
                                <img v-bind:src="item.image">
                            </div>
                            <div class="pos-left">[{{shop_item[item.shop]}}] {{item.title}}</div>
                            <div class="pos-left a-price">￥{{item.price | formatCurrency}}</div>
                        </a>
                        <div class="input-group-btn">
                            <select v-model="item.quantity">
                                <option v-for="i in 10" v-bind:value="i">{{i}}</option>
                            </select>
                            <button @click="addToCart(item)" class="btn add_goods" v-bind:value="item.item_id">{{cart_text}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <!-- カートの中身と合計 -->
            <cart_detail :goods="cartItems" v-show="cart_component">
                <div id="goods_list"></div>
            </div>
            <div class="sidebar_fixed">
                <!-- サイドバー広告 -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-2661815267943239"
                    data-ad-slot="9624100506"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="price_comparison.js"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    </body>
</html>