<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144211946-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-144211946-1');
    </script>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <TITLE>オープンマーケット！ショッピングカート</TITLE>
    <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>


    <link rel="stylesheet" href="stylesheet.css">
    <!--
    <script>window._epn = {campaign: 5338815131};</script>
    <script src="https://epnt.ebay.com/static/epn-smart-tools.js"></script>
    <script data-ad-client="ca-pub-2661815267943239" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    -->
</head>

<body>
    <div id="app" class="container">
    <div class="row">
        <div class="col">
            <div class="header">ショッピングカート</div>
            <p><a href="price_comparison_delete.php">カートをすべて空に</a></p>

            <!-- カートの中身と合計 -->
            <div id="cart_detail" v-cloak>
                <div id="goods_list">
                    <table style="text-align:center" id="items">
                        <tr><th>商品</th><th>個数</th><th>削除ボタン</th></tr>
                        <tr v-for="(item, index) in cartItems">
                            <td>{{item.title}}</td>
                            <td>
                                <select v-model="item.quantity" v-on:change="cart_modify(index)">
                                    <option v-for="i in 10" v-bind:value="i">{{i}}</option>
                                </select>
                            </td>
                            <td><button type="button" @click="delete_cart([index])">削除</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <b-button id="copy-button" @click="copy()">Copy text</button>
            <b-popover
                :disabled.sync="pop_disabled"
                :no-fade.sync="pop_nofade"
                :show.sync="pop_show"
                target="copy-button"
                ref="popover"
                placement="bottom"
                triggers="hover"
            >
                <i class="bi bi-check2"></i> Copied!
            </b-popover>
        </div>

        <div class="col-3">
            <div class="sidebar_fixed">
                <!-- サイドバー広告 -->
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-2661815267943239"
                    data-ad-slot="9624100506"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-2661815267943239"
                    data-ad-slot="9624100506"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
                <a href="https://hb.afl.rakuten.co.jp/hsc/215065c8.7b0eff9b.21506482.ec2625de/?link_type=pict&ut=eyJwYWdlIjoic2hvcCIsInR5cGUiOiJwaWN0IiwiY29sIjoxLCJjYXQiOiI1NyIsImJhbiI6IjE0NjY3OTgiLCJhbXAiOmZhbHNlfQ%3D%3D" target="_blank" rel="nofollow sponsored noopener" style="word-wrap:break-word;"  >
                    <img src="https://hbb.afl.rakuten.co.jp/hsb/215065c8.7b0eff9b.21506482.ec2625de/?me_id=1&me_adv_id=1466798&t=pict" border="0" style="margin:2px" alt="" title="">
                </a>
            </div>
        </div>

    </div>
    </div>

    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-clipboard2@0.3.1/dist/vue-clipboard.min.js"></script>
    <script src="price_comparison_cart.js"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</html>