/*
#container{
  padding:10px 10px 40px;color:#1D56A5;
}
*/
.header{
  font-size:1.6rem;
}
/*
.flexbox{
  display : -webkit-box;
  display : -webkit-flex;
  display : -ms-flexbox;
  display : flex;
}
*/
/*
.input-group{
  width: 70%;
}
*/
/*
#searchtextbox{
  width:240px;height:28px;
  vertical-align: top;
}
*/

/*  
#searchbtn{
  font-size:1.1rem;
  height:34px;
  vertical-align: top;
}
*/
.select>div{
  float: left;
}
#item-list {
  /* ----- 折り返す（左から右） ----- */
  -webkit-flex-wrap: wrap;          /* Safari etc. */
  -ms-flex-wrap    : wrap;          /* IE10        */
  flex-wrap        : wrap;
}
.item{
  margin     : 15px;
  width      : 300px;
  text-align : center;
}
.item img{
  /*height:150px;
  width:150px;
  margin:auto;*/
  
  width: 100%;
  height: 100%;
  /*
  width: auto;
  height: auto;*/
  object-fit: contain;
}
/*
.item p{
  margin-top: 10px;
}
*/
.img-block{
  height:150px;
  width:150px;
  display: table-cell
}
/*
#loading{
  display:none;
}
*/
/* 1秒間で透明度を制御する */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.1s;
}
/* 表示する際は、透明度を 0 -> 1 へ */
.fade-enter {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
/* 非表示にする際は、透明度を 1 -> 0 へ */
.fade-leave {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}
/*
#cart_detail{
  display: none;
  padding: 10px;
  text-align: right;
  border-bottom: #ddd solid 2px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: #666666;
  color: #FFF;
}
#cart_detail ul li{
  padding: 5px;
  list-style: none;
  border-bottom: #ddd dashed 1px;
}
*/
.sidebar_fixed {
  /*position: sticky;*/
  top: 60px;
}
.sidebar_content {
  margin-bottom: 100px;
}
.pos-left{
  text-align: left;
}
.a-price{
  color:#B12704;
}
.add_goods{
  border-radius:5px;
  background-color: #ffd814;
}
[v-cloak] {
  display: none;
}